.list {
    margin-top: 15px;
}
.item {
    margin-left: 15px;
    &:not(:last-child) {
        margin-bottom: 20px;
    }  
}
.descr {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.text{
    font-size: 18px;
    font-weight: 500;
}
.notification {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 15px;
}